@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Light mode */
    --background: 0 0% 100%; /* #ffffff */
    --foreground: 0 0% 1%; /* #010000 */
    --card: 0 0% 100%; /* #ffffff */
    --card-foreground: 0 0% 1%; /* #010000 */
    --popover: 0 0% 100%; /* #ffffff */
    --popover-foreground: 0 0% 1%; /* #010000 */
    --primary: 334 74% 51%; /* #DE2575 */
    --primary-foreground: 0 0% 100%; /* #ffffff */
    --secondary: 0 0% 94%; /* #f0f0f0 */
    --secondary-foreground: 0 0% 10%; /* #1a1a1a */
    --muted: 0 0% 65%; /* #A6A6A6 */
    --muted-foreground: 249 10% 38%; /* #5B586C */
    --accent: 0 0% 97%; /* #f7f7f7 */
    --accent-foreground: 0 0% 9%; /* #171717 */
    --destructive: 0 80% 53%; /* #e03131 */
    --destructive-foreground: 0 0% 100%; /* #ffffff */
    --border: 0 0% 88%; /* #e2e2e2 */
    --input: 180 10% 96%; /* #f3f6f6 */
    --ring: 0 0% 30%; /* #4d4d4d */
    --chart-1: 12 76% 61%; /* #e27060 */
    --chart-2: 173 58% 39%; /* #3f9e9c */
    --chart-3: 197 37% 24%; /* #375b6c */
    --chart-4: 43 74% 66%; /* #a4d96c */
    --chart-5: 27 87% 67%; /* #f8b36b */
    --radius: 0.5rem;
  }

  .dark {
    /* Dark mode */
    --background: 0 0% 7%; /* #111111 */
    --foreground: 0 0% 96%; /* #f5f5f5 */
    --card: 0 0% 10%; /* #1a1a1a */
    --card-foreground: 0 0% 96%; /* #f5f5f5 */
    --popover: 0 0% 10%; /* #1a1a1a */
    --popover-foreground: 0 0% 96%; /* #f5f5f5 */
    --primary: 359 93% 65%; /* #F95054 */
    --primary-foreground: 0 0% 96%; /* #f5f5f5 */
    --secondary: 0 0% 12%; /* #1f1f1f */
    --secondary-foreground: 0 0% 96%; /* #f5f5f5 */
    --muted: 249 10% 38%; /* #5B586C */
    --muted-foreground: 0 0% 65%; /* #A6A6A6 */
    --accent: 0 0% 16%; /* #2a2a2a */
    --accent-foreground: 0 0% 96%; /* #f5f5f5 */
    --destructive: 0 78% 37%; /* #9f1f1f */
    --destructive-foreground: 0 0% 100%; /* #ffffff */
    --border: 0 0% 16%; /* #2a2a2a */
    --input: 0 0% 16%; /* #2a2a2a */
    --ring: 0 0% 96%; /* #f5f5f5 */
    --chart-1: 12 76% 61%; /* #e27060 */
    --chart-2: 173 58% 39%; /* #3f9e9c */
    --chart-3: 197 37% 24%; /* #375b6c */
    --chart-4: 43 74% 66%; /* #a4d96c */
    --chart-5: 27 87% 67%; /* #f8b36b */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
